[submodule "SymbolOST"]
	path = lib/SymbolOST
	url = git@github.com:Ostpopcorn/SymbolOST.git
	branch = main
[submodule "Connector_Esp"]
	path = lib/Connector_Esp
	url = git@github.com:Ostpopcorn/Connector_Esp.git
	branch = main
